if SHIELD_FRIENDLYSPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "FriendlySplit"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FRIENDLYSPLIT_LEFT || SHIELD_MY_BOARD_RIGHT

config ZMK_SPLIT
    default y

endif